@model BookShop.Core.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "عضویت در فروشگاه کتاب";
    Layout = "~/Views/Shared/_Accountt.cshtml";
}


<h4 class="text-center">عضویت در سایت</h4>
<hr />
<form asp-action="Register">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Mobile" class="form-control input-lg"placeholder=" شماره موبایل" />
        <span asp-validation-for="Mobile" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Password" class="form-control input-lg" placeholder="کلمه عبور" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="ConfirmPassword" class="form-control"placeholder="تایید کلمه عبور" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="عضویت در سایت" class="btn-lg btn-block btn-submit" />
    </div>
    <div class="form-group">
        <h4 class="text-center">
            <a href="/" >قبلا ثبت نام کرده اید</a>
        </h4>
    </div>
</form>