body {
    direction:rtl;
    margin: auto;
    font-family:'B Nazanin';
    background-color:whitesmoke;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-top-30{
    margin-top:30px;
}

.logo{
    max-height: 880px;
    max-width: 80px;

}

.box-login{
    position:absolute;
    background:white;
    height:auto;
    padding:12px;
    border:1px solid #ddd;
}

.btn-submit{
    color:white;
    border:1px solid #008999;
    background:#00bfd6;
}